---
// Component Imports
import Counter from "../components/Counter.svelte";
import Navigation from "../components/Navigation.svelte";
import Footer from "../components/Footer.svelte";

const pageTitle = "About me";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/global.css" />
    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
      }
      body {
        padding: 2rem;
      }
    </style>
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation client:visible/>

    <h1>My Astro Site</h1>
    <h1>{pageTitle}</h1>
    <h2>... and my new Astro site!</h2>

    <p>
      I am working through Astro's introductory tutorial. This is the second
      page on my website, and it's the first one I built myself!
    </p>

    <p>
      This site will update as I complete more of the tutorial, so keep checking
      back and see how my journey is going!
    </p>
    <Footer />
  </body>
</html>
