---
// Component Imports
import Counter from "../components/Counter.svelte";
import Navigation from "../components/Navigation.svelte";
import Footer from "../components/Footer.svelte";
import CvDownload from "../components/CvDownload.svelte";
import Bus_component from "../components/Bus.svelte";

const pageTitle = "About me";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/global.css" />
    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
      }
      body {
        padding: 2rem;
        display: flex;
        justify-content: center;
      }
    </style>
    <title>{pageTitle}</title>
  </head>
  <body>
    <Bus_component client:visible/>
  </body>
</html>
