---

---
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<h1>Indonesia itinerary</h1>

<h2>Links</h2>
<ul>
    <li><a href="https://drive.google.com/drive/u/0/folders/1vD9WhHlza_yXD_Pitoaj7ivvcgUe-Cll">Google Drive</a></li>
    <li><a href="https://www.airbnb.co.uk/trips/v1/reservation-details/ro/RESERVATION2_CHECKIN/HM4S2MHRBM">Airbnb - Kuala Lumpur</a></li>
    <li><a href="https://www.airbnb.co.uk/trips/v1/reservation-details/ro/RESERVATION2_CHECKIN/HMYH85MDBB">Airbnb - Bali</a></li>
    <li><a href="https://www.airbnb.co.uk/trips/v1/reservation-details/ro/RESERVATION2_CHECKIN/HMNRTYWT2X">Airbnb - Vietnam</a></li>
    <li><a href="https://flights.booking.com/booking/order-details/524c21793376a41daea76624d225c530f9d6e04c8be022a97ef0794418b56798b22f28623a7ea7834ffc7abe3a4c232f42f8c4382e9c64ce24708b3886c28448cb71427a96c8d4f9e286272ef8cb?aid=304142&label=flights-booking-direct">Flight - Wien,Kuala Lumpur - Booking</a></li>
    <li><a href="public/indonesia/flight-summary-lumpur->bali.pdf">Flight, Lumpur-Bali, pdf</a></li>
</ul>

<h2>Lety</h2>
<details>
    <summary>
        Wien (VIE) to Kuala Lumpur (KUL)<br>
        <blockquote>
        Departure: VIE 11.9, 11:25 <br>
             SIN 12.9, 4:50, layover 11h 20m, SIN 16:10 <br>
        Arrival: KUL 12.9, 17:25
        </blockquote>
    </summary>
    <a href="https://flights.booking.com/booking/order-details/524c21793376a41daea76624d225c530f9d6e04c8be022a97ef0794418b56798b22f28623a7ea7834ffc7abe3a4c232f42f8c4382e9c64ce24708b3886c28448cb71427a96c8d4f9e286272ef8cb?locale=en-gb">Booking</a>
    <h3>Check-in</h3>
    Available 48 before departure.
    <a href="https://checkin.flyscoot.com/">Scoot check-in</a>
   <p>
    Booking reference:
    PGGI3E
   </p>
   <p>
    Flight number:
    TR711
   </p>
   <p>
       Email for check-in:
       matej.timar1@yourbookingservice.com
   </p>
   <h3>Flight details</h3>
    <section>
        <h4>First flight</h4>
        <p>
            Thu 11 Sept , 11:25
            VIE , Vienna International Airport
        </p>
        <p>
            Fri 12 Sept , 04:50
            SIN , Changi Airport
        </p>
        <h4>Layover 11h 20m</h4>
        <h4>Second flight</h4>
        <p>
            Fri 12 Sept , <b>16:10</b>
            SIN , Changi Airport
        </p>
        <p>
            Fri 12 Sept , 17:25
            KUL , Kuala Lumpur International Airport
        </p>
    </section>
</details>
<details>
    <summary>
        Kuala Lumpur - Bali <br>
        <blockquote>
        Departure: Mon, Sept 22, 15:35 <br>
        Arrival: Mon, Sept 22, 18:40
        </blockquote>
    </summary>
    <section>

    </section>
</details>
<h2>Addresses</h2>
<h3>Kuala Lumpur</h3>
<a href="ittps://maps.app.goo.gl/hN88WKAG6jfKsvKM8">Jalan Dewan Sultan Sulaiman, Chow Kit, 50300, Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur, Malaysia</a>
<h3>Bali</h3>
<a href="https://maps.app.goo.gl/hN88WKAG6jfKsvKM8">Jalan Mpu Tantular, Kedewatan, Kecamatan Ubud, Bali, 80571, Indonesia</a>
<h3>Vietnam</h3>
<a href="https://maps.app.goo.gl/UPZLwFGRmpBcS4i79">9 Đường số 10 9/5, Quận 2, Thành phố Hồ Chí Minh, Vietnam</a>
<p></p>
