---
// src/pages/projects.astro
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectList from "../components/Projects.svelte"; // Reuse the same component
import projectData from "../data/projects"; // Import project data

const pageTitle = "Projects";
---

<BaseLayout title={pageTitle} description="View my projects.">
  <h1>My Projects</h1>
  <ProjectList projects={projectData} client:visible />
</BaseLayout>
