---
// Component Imports
import Timer from "../components/Timer.svelte";
import Navigation from "../components/Navigation.svelte";

const pageTitle = "About me";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <style>
      html,
      body {
        font-family: system-ui;
        margin: 0;
      }
      body {
        padding: 2rem;
      }
    </style>
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation client:visible/>
    <Timer client:visible/>
  </body>
</html>
