

body {
    padding: 0;
    background: rgb(34,
        34,
        34,
        1);
    background-size: 100% 100%;
    background-position: 0 0;
    animation: gradient 10s ease infinite;
    color: #FFFAFF;
    height: 100vh;
    font-family: "Quicksand", sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 0;
    }
}