:root {
    --accent-yellow-color: #ffca69;
    --accent-red-color: #ff5757;
    --main-background-color: #222222;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    padding: 2rem;
    margin: 0;
    background: var(--main-background-color);
    background-repeat: no-repeat;
    color: #FFFAFF;
    font-family: "Quicksand", sans-serif;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 0 100%;
    }

    100% {
        background-position: 0 0;
    }
}